<!-- already designed -->


<!DOCTYPE html>
<html>
    <head><title>Homepage</title></head>

    <body style="background-color:#f7fafc; margin:0; padding:0">
        <section style="max-width:1024px; margin-left:auto; margin-right:auto; padding: 0 1rem" >
            <h2 style="font-size:2.25rem; font-weight:700; text-align:center; color: #1a202c; margin-bottom:2.5rem"> Find Us</h2>
            <div style="max-width:896px; margin:auto; background-color: #fffff; border-radius:1rem; padding:2rem; display:flex; flex-direction:column; gap:2rem">
                <div>
                    <h3 style="font-size:1.5rem; font-weight:600; color:#1a202c; margin-top:0; margin-bottom:1rem; "> Our Location</h3>
                    <address style="font-size:normal; line-height:1.6rem; color:#4a5568"> 123 Main Street<br> Anytown, USA 12345<br><br> Phone: (555) 123-3456<br>
                    Email:info@example.com</address>
                </div>
                <div>
                    <h3> GoogleMap</h3>
                    <div style="border-radius:0.5rem; overflow:hidden; box-shadow:0 4px 6px -1px; position:relative; width:100%; pading-bottom:75%; height:0"> 
                        <iframe
                            src= "https://www.google.com/maps/embed?pb-1!@#$%%YU#^@$26563684759432656874943#@$$*&@^1236"
                            width= "100%"
                            height="100%"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            class= "absolute top-0 left-0">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
