<!DOCTYPE html>
<html>
    <head><title>Homepage</title></head>

    <body>
        <section >
            <h2> Find Us</h2>
            <div>
                <div>
                    <h3> Our Location</h3>
                    <address > 123 Main Street<br> Anytown, USA 12345<br><br> Phone: (555) 123-3456<br>
                    Email:info@example.com</address>
                </div>
                <div>
                    <h3> GoogleMap</h3>
                    <div> 
                        <iframe
                            src= "https://www.google.com/maps/embed?pb-1!@#$%%YU#^@$26563684759432656874943#@$$*&@^1236"
                            width= "100%"
                            height="100%"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            class= "absolute top-0 left-0">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
